.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.idea/
.vscode/

instance/
logs/
kiosk/static/uploads/
dist/
build/
*.spec
!Kiosk_v001.spec

.env
*.db
*.sqlite
*.sqlite3

.DS_Store
Thumbs.db

prototype/
www/
www.zip
sessions/
